@charset "utf-8";
.photo img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.title {
    color: #12BF96;
    font-family: source-code-pro;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
}
header {
    margin-top: 100px;
    margin-bottom: 100px;
}
